<!-- <h1>Template Reference Variable</h1>
<input type="text" #box placeholder="Enter user name">
<button (click)="getVal(box)">Call Function</button> -->

<!-- <h1 >Pipes in Angular</h1>
<h1>{{title |uppercase}}</h1>

<h1>{{user|json}}</h1>

<h1>{{20 | currency:'INR'}}</h1>

<h1>{{21543.123545|number : '2.2-3'}}</h1> -->

<!-- <h1>Cutom Pipes</h1>

<h1>{{20 | usdInr : 72}}</h1> -->

<!--
<h1>Template driven forms</h1>

<form #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.controls)>
  <input type="text" placeholder="Enter Name" name="name" ngModel>
  <br><br>
  <input type="password" placeholder="Enter Password" name="password" ngModel>
  <br><br>
  <button>login</button>
</form> -->

<!-- <button (click)=userLogin(loginForm.value)>Out side login</button> -->

<h1>Reactive Forms</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">

  <input type="text" placeholder="Enter Name"  name="user" formControlName="user">
  <br><br>
  <input type="password" placeholder="Enter password"  formControlName="password">
  <br><br>
  <button>Login</button>
</form>

