<nav>
    <img src="https://imgs.search.brave.com/f9h5xKNgcV1zj-ZhybO_8LA_57iUTM7rKb30mXSi1rk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/aWNvbnNjb3V0LmNv/bS9pY29uL2ZyZWUv/cG5nLTI1Ni9mcmVl/LWFuZ3VsYXItbG9n/by1pY29uLWRvd25s/b2FkLWluLXN2Zy1w/bmctZ2lmLWZpbGUt/Zm9ybWF0cy0tYnJh/bmQtZGV2ZWxvcG1l/bnQtdG9vbHMtcGFj/ay1sb2dvcy1pY29u/cy0yMjYwNjYucG5n/P2Y9d2VicCZ3PTI1/Ng" alt="logo">

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">User</a></li>
    </ul>
</nav>